@import "compass/css3";
/*
OpenSource CSS Information What I Used
class:   source name    |   creator     | link
link buttons: Button Hover | Katherine Kato | https://codepen.io/kathykato/pen/rZRaNe
cards: Parallax Flipping Cards | Nicolas Pavlotsky | https://codepen.io/nicolaspavlotsky/pen/wqGgLO
timeline: CSS3 Timeline | Peiwen Lu | https://codepen.io/P233/pen/lGewF
*/

/*
brand color
back: #FCFCFC
main: #F9CC45
dark: #363636
*/

/*etc Setting*/

body{
    background-color: #FCFCFC;
    color: #363636;
    align-content: center;
}

section{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 840px;
  margin: auto;
}

.multi{
  column-count: 3;
  column-gap: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

div.link{
  text-align: center;
}

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background: #F9CC45;
  }
  
  ::selection {
    color: #000000;
    background: #F9CC45;
  }


  /*line setting*/

.horizon{
  border-style: none none solid none;
  border-width: 1px;
  border-color: #363636;
}

/* link buttons */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: "Gowun Dodum";
}
button.link {
  width: 11rem;
  height: auto;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
button.link .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.link .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.link .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.link .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.30rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.link .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* cards */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  min-width: 300px;
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 100%;
  perspective: 100%;
  min-width: 300px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #363636 0%, #000 100%);
  background: -o-linear-gradient(45deg, #363636 0%, #000 100%);
  background: linear-gradient(45deg, #363636 0%, #000 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #F9CC45;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Gowun Dodum";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}


/* timeline */

/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
 
 /* -------------------------------------
  * timeline
  * ------------------------------------- */
 #timeline {
   list-style: none;
   margin: 50px 0 30px 120px;
   padding-left: 30px;
   border-left: 8px solid #F9CC45;
 }
 #timeline li {
   margin: 40px 0;
   position: relative;
 }
 #timeline p {
   margin: 0 0 15px;
 }
 
 .date {
   margin-top: -10px;
   top: 50%;
   left: -158px;
   font-size: 1em;
   line-height: 20px;
   position: absolute;
   font-family: "Gowun Dodum";
 }
 
 .circle_time {
   margin-top: -10px;
   top: 50%;
   left: -44px;
   width: 10px;
   height: 10px;
   background: #FCFCFC;
   border: 5px solid #282936;
   border-radius: 50%;
   display: block;
   position: absolute;
 }
 
 .content {
   max-height: 20px;
   padding: 50px 20px 0;
   border-color: transparent;
   border-width: 2px;
   border-style: solid;
   border-radius: 0.5em;
   position: relative;
 }
 .content:before, .content:after {
   content: "";
   width: 0;
   height: 0;
   border: solid transparent;
   position: absolute;
   pointer-events: none;
   right: 100%;
 }
 .content:before {
   border-right-color: inherit;
   border-width: 20px;
   top: 50%;
   margin-top: -20px;
 }
 .content:after {
   border-right-color: #FCFCFC;
   border-width: 17px;
   top: 50%;
   margin-top: -17px;
 }
 .content p {
   max-height: 0;
   color: transparent;
   text-align: justify;
   word-break: break-word;
   hyphens: auto;
   overflow: hidden;
 }
 
 label {
   font-size: 1.5em;
   position: absolute;
   z-index: 100;
   cursor: pointer;
   top: 20px;
   transition: transform 0.2s linear;
   font-family: "Gowun Dodum";
 }
 
 .radio {
   display: none;
 }
 
 .radio:checked + .relative label {
   cursor: auto;
   transform: translateX(42px);
 }
 .radio:checked + .relative .circle_time {
   background: #F9CC45;
 }
 .radio:checked ~ .content {
   max-height: 180px;
   border-color: #363636;
   margin-right: 20px;
   transform: translateX(20px);
   transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
 }
 .radio:checked ~ .content p {
   max-height: 200px;
   color: #363636;
   transition: color 0.3s linear 0.3s;
 }
 
 /* -------------------------------------
  * mobile phones (vertical version only)
  * ------------------------------------- */
 @media screen and (max-width: 767px) {
   #timeline {
     margin-left: 0;
     padding-left: 0;
     border-left: none;
   }
   #timeline li {
     margin: 50px 0;
   }
 
   label {
     width: 85%;
     font-size: 1.1em;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     display: block;
     transform: translateX(18px);
   }
 
   .content {
     padding-top: 45px;
     border-color: #363636;
   }
   .content:before, .content:after {
     border: solid transparent;
     bottom: 100%;
   }
   .content:before {
     border-bottom-color: inherit;
     border-width: 17px;
     top: -16px;
     left: 50px;
     margin-left: -17px;
   }
   .content:after {
     border-bottom-color: #FCFCFC;
     border-width: 20px;
     top: -20px;
     left: 50px;
     margin-left: -20px;
   }
   .content p {
     font-size: 0.9em;
     line-height: 1.4;
   }
 
    .date {
     display: none;
   }
 }
 